{% extends "base.html" %}

{% block content %}

<section class="article">

    <h2>{{article.name}}</h2>
    <p><small>Публикация от {{article.creation_date.strftime('%Y-%m-%d')}}</small></p>
    <div class="article__caro">
        <div id="carouselExampleControls" class="carousel carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">

            {% if photos %}
            <div class="carousel-item active">
                <img src="../static/img/articles/{{article.id}}/{{photos[0]}}" class="d-block w-100" alt="...">
            </div>
            {% for photo in photos[1:] %}
            <div class="carousel-item">
                <img src="../static/img/articles/{{article.id}}/{{photo}}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
            {% else %}
                <div class="carousel-item active">
                    <img src="../static/img/pass_photo.jpg" class="d-block w-100" alt="...">
                </div>
            {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="article__text">
        {% for paragraph in article.text.split("\r\n")%}
            <p>{{paragraph}}</p>
        {% endfor %}

    </div>
    <div class="article__author">
        <p><i>{{author.name}}</i></p>
    </div>
</section>


<footer>
    <p>© Иващенко Сергей</p> 
    <p>2022</p>
</footer>

{% endblock %}