{% extends "base.html" %}

{% block content %}


<section class="exercises">

    <div class="exercises__header">
        <h1>Трюки BMX</h1>
        <h2>Выбери нужный трюк из списка ниже!</h2>
    </div>
  
    <div class="exercises__list row row-cols-1 row-cols-sm-1 row-cols-md-3">

      {% for article in articles %}
      <div class="col mb-3">
        <div class="card">

          {% if article[0] %}
          <img src="../static/img/articles/{{article[2].id}}/0.png" class="card-img-top" alt="...">
          {% else %}
          <img src="../static/img/pass_photo.jpg" class="card-img-top" alt="...">
          {%endif%}

          <div class="card-body">
            <a href="/article/{{article[2].id}}"><h5 class="card-title">{{article[2].name}}</h5></a>
            <p class="card-text">{{article[2].description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/users/id">{{article[1]}}</a></li>
            <li class="list-group-item">Дата публикации: {{article[2].creation_date.strftime('%Y-%m-%d')}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">{{article[3]}}</a>
            <a href="#" class="card-link">Обучение</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
</section>



<footer>
    <p>© Иващенко Сергей</p> 
    <p>2022</p>
</footer>

{% endblock %}