{% extends "base.html" %}

{% block content %}


<section class="exercises">

    <div class="exercises__header">
        <h1>Новости из мира BMX</h1>
        <h2>Прочитай новость из списка ниже!</h2>
    </div>
  
    <div class="exercises__list row row-cols-1 row-cols-sm-1 row-cols-md-1">

        {% for article in articles %}
        <div class="col mb-1">
            <div class="card mb-3" >
                <div class="row g-0">


                    <div class="col-md-4">
                        {% if article[0] %}
                            <img src="../static/img/articles/{{article[1].id}}/0.png" class="img-fluid rounded-start" alt="...">
                        {%else%}
                            <img src="../static/img/pass_photo.jpg" class="img-fluid rounded-start" alt="...">
                        {%endif%}
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/article/{{article[1].id}}">{{article[1].name}}</a></h5>
                            <p class="card-text">{{article[1].description}}</p>
                            <p class="card-text"><small class="text-muted">Опубликовано {{article[1].creation_date.strftime('%Y-%m-%d')}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</section>



<footer style="margin-top:300px">
    <p>© Иващенко Сергей</p> 
    <p>2022</p>
</footer>

{% endblock %}